<div class="home_page">
  <header>
    <img src="assets/images/header_logo.png" alt="">
    <p>Astrology</p>
  </header>
  <div class="container">
    <div  class="column">
      <mat-card *ngFor="let que of questionData | paginate:{itemsPerPage: pageSize, currentPage:currentPageNumber}" class="choosing-card">
        <div *ngFor="let ans of answerData">
          <div *ngIf="que.QuestionId == ans.QuestionId">
            <a routerLink="/displaycard/{{que.QuestionId}}" >
              <div class="imgsize">
                <img mat-card-image *ngIf="ans.AnswerName == 'Pile-1 '"  src="assets/{{ans.AnswerImageUrl}}" alt="">
              </div> 
            </a>
          </div>
        </div>
        
        <mat-card-content>
          <h2 class="title">{{que.QuestionName}}</h2>
          <p class="textshow" [ngClass]="{'limitTextHeight': isReadMore}">{{que.QuestionDesp}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button routerLink="/displaycard/{{que.QuestionId}}" class="button-readmore" mat-button (click)="showText()"> {{ isReadMore ? 'Read More': 'Read Less' }}</button>
        </mat-card-actions>
      </mat-card> 
    </div>
    
    <div class="pagination">
      <pagination-controls (pageChange)="currentPageNumber=$event"></pagination-controls>
    </div>    
  </div>
  <footer>
    <p>Designed by Htet</p>
  </footer>
</div>






